<%- include("partials/top.ejs"); %>

	<div class="ui inverted menu">
		<a class="header item" href="/">Wallpaper</a>
		<a class="item active" href="upload">Upload</a>
		<div class="right menu">
			<div class="item">
				<div class="ui transparent inverted icon input">
					<i class="search icon"></i>
					<input type="text" placeholder="Search">
				</div>
			</div>
		</div>
	</div>

	<div class="ui grid">
		<div class="one wide column"> </div>
		<div class="fourteen wide column">
			<div class="ui link cards">
				<% obj.forEach(function(item) {
					const buffer = item.data.data;
					const b64 = new Buffer( buffer, 'binary' ).toString('base64'); %>
				<div class="card">
					<div class="image">
						<img src="data:image/jpeg;base64, <%=b64%>"/>
					</div>
					<div class="content">
						<div class="header"><%= item.title %></div>
					</div>
				</div>
				<% }); %>
			</div>
		</div>
		<div class="one wide column"> </div>
	</div>
<%- include("partials/bottom.ejs"); %>