<%- include("partials/top.ejs"); %>

	<div class="ui inverted menu">
		<a class="header item" href="/">Wallpaper</a>
		<a class="item active" href="upload">Upload</a>
		<div class="right menu">
			<div class="item">
				<div class="ui transparent inverted icon input">
					<i class="search icon"></i>
					<input type="text" placeholder="Search">
				</div>
			</div>
		</div>
	</div>
	Hello

<%- include("partials/bottom.ejs"); %>